*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-attachment: fixed;
}

#visitantes-container{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}


#bienvenida {
    padding: 3%;
}

#visitantes-container h2,
#visitantes-container button,
#visitantes-container form {
    width: 100%;
}

#visitantes-container form,
#visitantes-container label,
#visitantes-container input {
    margin-top: 5%;
    font-size: x-large;
}

#visitantes-container h2 {
    margin: 15px;
}

#visitantes-container button {
    margin-top: 15px;
}

#visitantes-container col {
    margin-left: 15px;
}


#nuevo-visitante {

    padding: 5%;
    min-width: 35%;
    opacity: 88%;
    background-color: rgb(67, 89, 218);
    border-radius: 6%;
}

#existente-visitante {
    padding: 5%;
    min-width: 35%;
    opacity: 88%;
    background-color: rgb(232, 233, 239);
    border-radius: 6%;
}

#visitantes-container button {
    color: rgb(12, 12, 12);
    font-weight: bolder;
    font-size: x-large;
    background-color: rgba(0, 255, 136, 0.655);
    min-width: 100%;
}

#btn-crearcuenta {
    color: rgb(11, 10, 10);
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(0, 255, 51);
    min-width: 100%;
}

/*-----*/
#card-registrarse{
    width: 100%;
    margin: auto;

    padding: 5%;
    min-width: 35%;
    opacity: 88%;
    background-color: rgb(232, 233, 239);
    border-radius: 6%;
    
}

#form-registrarse{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(232, 233, 239);
    backdrop-filter: blur(10px);
    opacity: 70%;
}

