.fondo-inicio {
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    background-color: rgb(24, 24, 24);
    background-image: url(./img/2.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#container {
    padding: 0;
    margin-top: 100px;
    margin-bottom: 0;
}

.tarjetas-inicio {
    justify-content: center;
    padding: 0;
    margin-top: 2%;
    opacity: 96%;
}

#visitantes {
    margin-right: 30%;
    position: fixed;
}

#estudiantes {
    margin-left: 30%;
    position: fixed;

}

#titulo {
    position: top;
    height: 2px;
    margin: 0;
    padding: 0;
}

#boton-visitantes {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(0, 162, 255);
    min-width: 100%;
}

#boton-estudiantes {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(243, 72, 72);
    min-width: 100%;
}