#fondo-inicio {
    height: 1000px;
    background-image: url(../img/2.png);
    background-size: cover;
    background-repeat: no-repeat;

}

#tarjetas-inicio {
    justify-content: center;
    opacity: 95%;
}


#visitantes {
    margin-top: 170px;
    margin-right: 5%;
}

#visitantes .row {
    margin-top: 10px;
    font-size: 240px;
}

#estudiantes {
    margin-top: 170px;
    margin-left: 5%;
}

#estudiantes .row {
    margin-top: 10px;
    font-size: 240px;
}

#boton-visitantes {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(0, 162, 255);
    min-width: 100%;
}

#boton-estudiantes {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(243, 72, 72);
    min-width: 100%;
}