#panel-central {
    display: flex;
    justify-content: center;
}

header img {
    background-color: #5271ff;
}

body {
    /*     heigh:665px; */
    background-image: url("../styles/imagenes/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f65e5ec1;
}


#div-formulario {
    min-width: 33%;
    opacity: 88%;
    background-color: white;
    border-radius: 5%;
}

#div-formulario b {
    font-size: x-large;


}


.card-body input {
    background-color: #d0eeff;
    /*  #5271ff */

}