body {
    background-color: rgba(252, 232, 144, 0.765);
    background-image: url("../styles/imagenes/logo.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar {
    padding: 0%;
}

.navbar-brand {
    padding: 3px;
}

.nav-link {
    padding-top: 10%;
    padding-bottom: 0%;
    font-size: 20px;
    font-weight: 500;
}

.dropdown-menu {
    --bs-dropdown-min-width: 30rem;
    --bs-dropdown-padding-x: 0.5rem;
}

.m-4 {
    display: flex;
    justify-content: right;
}

#panel-central {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-formulario {
    min-width: 35%;
    opacity: 95%;
    background-color: white;
    border-radius: 6%;
}

#div-formulario b {
    font-size: x-large;
    font-weight: bolder;
}

.main-section {
    opacity: 100%;
    padding-bottom: 30px;
}

#mb-3 button {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(0, 162, 255);
    min-width: 80%;
}

#mb-2 button {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(243, 72, 72);
    min-width: 80%;
    margin: 0% 0% 5% 0%;
}