.fondo-login {
    height: 1000px;
    background-color: #E9E8E5;
    background-size: cover;
    background-repeat: no-repeat;
}

#login-container {
    position: fixed;
    margin-top: 200px;
    margin-left: 15%;
}

#login-container h2,
#login-container button,
#login-container form {
    width: 100%;
}

#login-container button {
    margin-top: 15px;
}

#login-container .form-label {
    float: left;
}