.fondo-login {
    height: 1000px;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/054/910/original/3.png?1669048982);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#login-container {
    position: fixed;
    margin-top: 200px;
    margin-left: 15%;
}

#login-container h2,
#login-container button,
#login-container form {
    width: 100%;
}

#login-container button {
    margin-top: 15px;
}

#login-container .form-label {
    float: left;
}